# Prerequisites
*.d

.github/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.log

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app


# CMake artefacts
CMakeCache.txt
CMakeFiles/
cmake-build-*/
compile_commands.json

# vcpkg
c:/temp/vcpkg/

# debug information files
*.dwo
